@use 'base/variables' as v;
@use 'base/mixins' as m;

.busqueda {
    background-color: v.$grisClaro;
    padding: 5rem 0;
    text-align: center;

    &__heading {
        @include m.heading;
    }
}