@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {

    &__contenido {
        background-color: v.$secundario;
        padding: 2rem;
        text-align: center;
        color: v.$blanco;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include m.tablet {
            
        }
    }

    &__heading,
    &__texto {
        color: v.$blanco;
        margin: .5rem 0;
    }

    &__label {
        font-weight: 700;
    }

    &__mapa {
        width: 100%;
        height: 30rem;
        display: block;

        @include m.desktop {
            height: 50rem;
        }
    }
}